.banner {
	background-image: url(../../images/background.png);
	padding: 150px 0px;
	background-size: cover;
	background-position: center;
	padding-right: 540px;
	padding-bottom: 190px;
}

.banner h1 {
	font-size: 50px;
	color: #001253;

}

.banner h2 {
	font-size: 30px;
	color: #400D51;
	font-weight: lighter;
}